.box{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  color: black;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}